h3.accordion_heading.last_acc(rel='contact') Contact

#contact.tab_content
  h2 Contact details
  .left50
    form#wksh.wkshp_form(name="wksh" method="post" action="code/contactForm.php")
      p Fill out the form to send me a message.<br>I'll reply as soon as I can.
      fieldset
        br
        div
          input#name(type='text' name='name' placeholder='Your name' autocomplete='off' tabindex='1' required)
        div
          input#email(type='email' name='email' placeholder='Your email address' autocomplete='off' tabindex='1' required)
        div
          textarea#message(name='message' rows=3 cols=30 placeholder='write me a message...' required)

        div
          input(type='hidden' name='subject' value='Contact form on website')
          input(type='submit' value='send' name='button')

  .right50.contact_right
    img(src='images/lotus.jpg')
    p mobile: 07974 470 610
    p Neal's Yard, Exeter: 01392 438127
    p Neal's Yard, Totnes: 01803 868054
    p.email
      a(href='mailto:saghar_amozgar@hotmail.com') saghar_amozgar@hotmail.com

