// belongs in the head

title Ayurvedic Yoga Massage in Devon
meta(name='viewport', content='width=device-width, user-scalable=no')
meta(name='description', content='Ayurvedic Yoga Massage and Workshops in Devon')

link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lustria|Source+Sans+Pro')

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

// favicon? TODO


