// belongs in the head

mixin setCss(cssSrc)
  link(rel='stylesheet', type='text/css', href=cssSrc)



meta(charset='utf-8')
title 66Ayurvedic Yoga Massage in Devon
meta(name='viewport', content='width=device-width, user-scalable=no')
meta(name='description', content='Ayurvedic Yoga Massage and Workshops in Devon')

// default stylesheet
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lustria|Source+Sans+Pro')

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

// favicon? TODO

// - const cssFile = 'css/main.min.css'
+setCss(cssFile)
