h3.accordion_heading(rel='tenhabits') Ten Habits

#tenhabits.tab_content
  // h2 Ten Habits

  table
    thead
      tr
      th INVITATION TO FREE TALK
    tbody
      tr
        td
          h2 Are you looking for a better quality of life?
          h2 Learn ten habits in ten weeks
          p This is a warm invitation to you all to connect, share and to learn.
          p.
            You are invited to a free talk introducing an exciting new ten week course,
            <i>'Are you looking for a better quality of life?'</i>, based on yoga and
            ayurvedic principles.

          h2 Free talk dates for 2019

          table
            thead
              tr
                th.
                  Lotus Loft Yoga Workshop<br>
                  25 Southernhay East, Exeter
            tbody
              tr
                td
                  p Saturday, June 29th, 2-3.30pm

          table
            thead
              tr
                th.
                  derekthedog yoga studio<br>
                  83/84 Queen Street, Exeter
            tbody
              tr
                td
                  p Saturday, July 27th, 1-2.30pm


          p.
            I will be sharing my story of recovering from breast cancer, my challenges, and
            how I benefited from both ancient wisdom and modern science to regain my health.
          p.
            We also explore the challenges in your life, and how I can help you using these
            techniques based on Ayurveda and yoga principles to gain optimum energy and
            a better quality life.

          include tenhabitsform.pug

