h3.accordion_heading(rel='tenhabits') Ten Habits

#tenhabits.tab_content
  // h2 Ten Habits

  table
    thead
      tr
      th INVITATION TO FREE TALK
    tbody
      tr
        td
          h2.
            Saghar is going to share her remarkable story of recovering from breast
            cancer, and what helped her to optimize and enhance her energy using
            Western and Eastern knowledge.
          p Are you looking for a better quality of life?
          p This is a warm invitation to you all to connect, share and to learn.

          h2 Free talk dates for 2019

          // table
          //   thead
          //     tr
          //       th.
          //         Lotus Loft Yoga Workshop<br>
          //         25 Southernhay East, Exeter
          //   tbody
          //     tr
          //       td
          //         p Saturday, June 29th, 2-3.30pm

          table
            thead
              tr
                th.
                  derekthedog yoga studio<br>
                  83/84 Queen Street, Exeter
            tbody
              tr
                td
                  p Saturday, July 27th, 1-2.30pm

          include tenhabitsform.pug

