form(name='ten-habits' method='post' action='./../php/simpleFormPhp.php')
  p.
    Please fill out the form if you are interested in attending one of our free talks.
    All replies will be treated with upmost privacy.  Thank you.

  fieldset
    br
    div
      input.name(type='text' name='name'
          tabindex=1 required
          placeholder='Your name' autocomplete='off')

    div
      input.email(type='email' name='email'
          tabindex=1 required
          placeholder='Your email address' autocomplete='off')

    div
      select.date(name='talkDate' form='ten-habits' required)
        option(value='') Which talk date?
        option(value='29 June, Lotus Loft') 29 June, Lotus Loft
        option(value='3 August, Lotus Loft') 3 August, Lotus Loft
        option(value='26 October, Lotus Loft') 26 October, Lotus Loft
        option(value='23 November, Lotus Loft') 23 November, Lotus Loft
        option(value='27 July, derekthedog') 27 July, derekthedog

    div
      textarea.message(name='message'
          placeholder='What is your single-most important challenge?'
          rows=3 cols=30 required)

    div
      input(type='hidden' name='subject'
          value='Ten habits form on website')

      input(type='submit' value='send' name='button')

