h3.accordion_heading(rel="yoga") Yoga Classes

#yoga.tab_content

  div
    h2 Sivananda Yoga
    .left50
      p.
        Sivananda Yoga is a classical and holistic approach to Hatha Yoga that stretches and tones
        the whole body.
      p.
        This style of yoga has not been modified or watered down. The teachings have survived intact
        and are practiced as originally presented in India by Swami Sivananda in 1936. Sivananda Yoga
        is an international practice which follows the same format worldwide.
      p.
        Sivananda Yoga is a complete healing system designed to help the body maintain a natural
        healthy state. It was developed by Vishnu-Devananda who wrote one of the contemporary Yoga
        classics, <i>The Complete Illustrated Book of Yoga</i>, first published in 1960 and still one
        of the best introductions to yoga available.

    .right50
      p Sivananda training involves frequent relaxation and emphasizes full, yogic breathing.

      p Five principles of yoga - by Swami Vishnu-Devananda
      ul
        li Proper Exercise – Asanas (steady poses)
        li Proper Breathing – Pranayama (prana, or vital energy)
        li Proper Relaxation – Savasana (pose for maximum relaxation)
        li Proper Diet – Vegetarian (lacto or vegan)
        li Meditation and Prayer – Dhyana and Vedanta (True Knowledge)


  div
    h2 Sivananda Yoga Classes

    .left50
      h4 Weekly Yoga classes
      p I run weekly yoga classes in both Exeter and Ottery St Mary, East Devon.
      p All are welcome, at any level of experience. Come along and try a session with no commitment!

      table.wide
        thead.thead
          tr
            th.thead(colspan=2) Regular Yoga classes
        tbody
          tr
            td Exeter,<br>derekthedog yoga studio,<br>Queen Street
            td Mondays,<br>1-2 pm
          tr
            td Ottery St Mary,<br>Feoffee centre,<br>Brook Street
            td Thursdays,<br>6-7 pm

    .right50
      h4 Yoga for kids
      p I have a weekly fun yoga for kids session during school term times in Ottery St Mary.
      p Currently suspended for summer holidays, sessions start again September 5th 2019.
      table.wide
        thead
          tr
            th(colspan=2 class='thead') Yoga classes for kids
        tbody
          tr
            td Ottery St Mary,<br>Feoffee centre,<br>Brook Street
            td Thursdays,<br>4.45-5.30pm

