doctype html
html
  head
    // set cssFile var for the mixin in the head include
    - const cssFile = './../../css/main.min.css'
    include ./../../includes/head.pug

    // doesn't actually include mixin in html, but makes it available
    include ./../../includes/aymWorkshop.pug


  body
    #container
      // set workshop data for workshop mixin
      -
        const workshopData = {
            place: 'Lotus Loft Yoga Centre',
            address: '25 Southernhay East, Exeter',
            date: 'Saturday, 6th June 2020',
            time: '10am - 1pm',
            iframeSrc: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.8342564783893!2d-3.5261599999999653!3d50.723014000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da43db07c12b7%3A0x7cc3e5bad826796d!2sLotus+Loft!5e0!3m2!1sen!2suk!4v1422712288800',
            ID: 'Lotus Loft workshop 6th June'
        }

      // call and include mixin in html
      +aymWorkshop(workshopData)

