doctype html
html
  head
    - const cssFile = './../../css/main.min.css'
    include ./../../includes/head.pug
    include ./../../mixins/workshop.pug


  body
    #container
      - const data = { address: 'Lotus', date: 'new hamste', iframeSrc: '', phpID: 'fred'}

      +workshop(data)

      .form_wrapper
        form#wksh.wkshp_form(name='wksh' method='post' action='code/generalForm.php')
          p.
            To book and pay for a place on this workshop, please fill out the following form, and I'll get back to you as soon as I can.
          fieldset
            p Your details
            div
              input#name(type='text' name='name' placeholder='Your name' autocomplete='off' tabindex=1 class='txtinput' required)
            div
              input#tel(type='tel' name='tel' placeholder='Your phone number' autocomplete='off' tabindex=1 class='txtinput' required)
            div
              input#email(type='email' name='email' placeholder='Your email address' autocomplete='off' tabindex=1 class='txtinput' required)
            div
              select(name='tickets' form='wksh')
                option(value='deposit') Deposit: &nbsp;&pound;10
                option(value='single_full') Single ticket: &nbsp;&pound;30
                option(value='single_remainder') Remaining balance: &nbsp;&pound;20
                option(value='couple_full') Double ticket: &nbsp;&pound;50
                option(value='couple_remainder') Remaining balance: &nbsp;&pound;40
            div
              input(type='hidden' name='subject' value='Lotus Loft workshop 8 December')
              input(type='submit' value='Continue to PayPal' name='button')

      script(src='./../../code/validate.js')

