h3(class='accordion_heading' rel='about') About Me

div(id='about' class='tab_content')
  h2 About me
  div(class='saghar')
    div(class='left')
      p.
        I am Saghar (Nasrien) Amozgar, Persian in origin.  I came to the UK in 2000 after 8 years 
        of study in India, completing my PhD in Psychology and my journey of discovery into yoga, 
        meditation, and traditional ayurvedic massage.
      p.
        I studied Ayurvedic Yoga Massage under the expert guidance of Swami Varidi, who trained 
        with the renowned Kusum Modak herself.  I qualified in Pune 1999.  I continued to work 
        closely with Swami Varidi, organising his courses in Europe and assisting him with their 
        delivery in the UK.
      p.
        I was fortunate to study in Pune City in the neighbourhood of the Iyengar ashram.  My 
        learning and understanding of yoga continued with my qualification from the Sivananda yoga 
        center in Kerala, India in 2004.  Since then I have been teaching many classes including 
        Muslim women community centres, children and open classes for all.
      p.
        I established the Ayurvedic Yoga Association in 2004.  My passion is sharing my 
        experiences and insights gained over the years of body-work, not only through my 
        therapeutic work with individuals, but also by running regular workshops and 
        professional standard training courses for practitioners to spread this wonderful 
        ancient technique around the globe.

    div(class='right')
      img(src='images/portrait.jpg')

