doctype html
html

  head
    - const cssFile = '../css/main.min.css'
    include ../includes/head.pug

  body
    #container
      img(src='../images/header.jpg')
      #thanks
        h2 Something's gone awry 😱 
        p There seems to be a server issue at the moment.
        p Please try again later...

        a(href='../index.html') Back to website

