doctype html
html

  head
    - const cssFile = '../css/main.min.css'
    include ../includes/head.pug

  body
    #container
      img(src='../images/header.jpg')
      #thanks
        h2 Thanks, your application for an intensive massage workshop has been sent!
        p I will process your responses and get back to you as soon as I can.

        a(href='../index.html') Back to website

