doctype html
html
  head

  body
    #container
      h1 Ayurvedic Yoga Massage
      p Hi #[span#name -name-]
      p.
        Here are your details for the ayurvedic yoga massage intensive
        training course at #[span#place -place-] on #[span#date -date-].

