h3(class="accordion_heading" rel="training") Training
div(id="training" class="tab_content")

  div(class="left50")
    h2 Training and Workshops
    p.
      I can teach you the important elements of ayurvedic yoga massage, either in the form of
      an introductory one-day workshop, or two types of training course.
    h4 Workshops
    p.
      I run one day workshops designed to introduce you to the basic skills of Ayurvedic
      yoga massage. You will learn how to give a back, neck and shoulder massage to
      your friends and family.
    p For complete beginners or to enhance your skills if you are already a therapist.
    p &pound;30 for individuals, &pound;50 for a couple (partner or friend)
    table
      thead
        tr
          th FORTHCOMING<br>WORKSHOPS<br>2019
      tbody
        tr
          td
            p AYM Workshop, Lotus Loft, Exeter<br>Saturday, 3rd August 10am - 1pm
            a(href="lotusWksh3Aug.html") Click for more info
        tr
          td
            p AYM Workshop, Lotus Loft, Exeter<br>Saturday, 26th October 2 - 5pm
            a(href="lotusWksh26Oct.html") Click for more info
        tr
          td
            p AYM Workshop, Lotus Loft, Exeter<br>Saturday, 23rd November 2 - 5pm
            a(href="lotusWksh23Nov.html") Click for more info


  div(class="right50")
    h4 Training Courses
    p.
      AYM diplomas are divided into two separate levels, each taking a total of 24 hours to complete.
      The courses combine both practical techniques and theory-based learning.  Courses can be either
      intensive - four days of seven-hour sessions (including one hour lunch-break); or non-intensive -
      divided into four eight-hour sessions over two months.
    p.
      Fully-detailed illustrated manuals will be provided to each student along with the course.
      The successful applicant will be awarded a Ayurvedic Yoga Massage certificate, according to the level
      of the course.
    p.
      It is important to have attended a workshop session before taking the training course. Alternatively,
      you can have a short interview with Saghar either by phoning her on 07974 470 610 or <a href="mailto: saghar@ayurvedicyogamassage.org.uk" class='email'>email</a>.
    p The fee is £350, with a £90 deposit requested 2 weeks before start date.

    table
      thead
        tr
          th INTENSIVE LEVEL 1<br>TRAINING COURSES
      tbody
        <!--<tr>-->
          <!--<td>Thu 23rd - Sun 26th June 2016<br>10 am - 5 pm<br>Exeter Natural Health Centre-->
          <!--<br><a href="enhcTrain.html">Click for more info</a></td>-->
        <!--</tr>-->
        tr
          td to be announced

    table
      thead
        tr
          th NON-INTENSIVE<br>LEVEL 1<br>TRAINING SESSIONS
      tbody
        tr
          td to be announced
        <!-- <tr>
          <td>Session 1 - Saturday 24th January 2015 9am - 5pm</td>
        </tr>
        <tr>
          <td class="fancy_tr">Neal's Yard, Totnes</td>
        </tr> -->
