h3(class="accordion_heading" rel="treatments") Treatments
div(id="treatments" class="tab_content")
  h2 Massage Treatments
  div(class='left')
    p.
      Ayurvedic yoga massage is a deep-tissue massage which takes place on a floor mattress. 
      It involves deep strokes and a series of yoga stretches to help to eliminate toxins and 
      rejuvenate the body.
    p In Ayurvedic yoga massage we use both the feet and the hands.
    p.
      One of the best things is using calamus powder which helps to stimulate, and is good 
      for blood circulation.
    br
    table
      thead(class='thead')
        tr
          th(colspan=3) Treatment types
      tbody
        tr
          td Indian head massage
          td 20 mins
          td &pound;15
        tr
          td Back and neck massage
          td 30 mins
          td &pound;25
        tr
          td Full body massage
          td 60 mins
          td &pound;50
        tr
          td Deluxe full body massage
          td 90 mins
          td &pound;70
  
  div(class='right')
    img(src='images/treatment.jpg')
    p.
      I practice in Devon, and offer treatments in Neal's Yard, Exeter, 
      Neal's Yard, Totnes or The Good Life, Ottery St Mary.</p>						

  div(class="testimonial")
    blockquote.
      I am an Ayurveda practitioner myself, and in a moment of need, when acupuncture or physiotherapy
      were not helping my situation, I asked Saghar to have a series of focused massages to heal. After 
      two massages only, my foot and my elbow, after  6 months of pain, were immediately better, and I 
      realized that Saghar can deliver the real core of Ayurveda practice in a majestic way! Deep gratitude.
    div
    p Kay

  div(class="testimonial")
    blockquote.
      After massages around the world over the years it is wonderful to actually find one of the best massages
      in my locality. Saghars' massage is  not weak or general in any way but specific and strong leaving your
      body both relaxed and rejuvenated.
    div
    p Peter

