doctype html
html
  head
    - const cssFile = '../css/main.min.css'
    include ../includes/head.pug

  body
    #vetContainer.left50
      #detailsDiv
        h1 Intensive Massage Workshop Application
      #buttonz
        button#yesBtn YEP - we want
        span &emsp;
        button#noBtn NO thank you
    #email.right50.hidden
      form(method='post' action='./../php/mailVetForm.php' id='vetForm' onsubmit='return sendEmail(this)')
        p Saghar, please add a little personal message underneath the text below.
        p For example, if you've rejected them, tell them why.
        p Then press the 'send email...' button' at the bottom

        #msgDiv
          #msgTxt(contenteditable='true')

        //- hidden text field gets populated with msg on submit
        input.hidden(type='text' id='punterMsg' name='punterMsg')

        input(type='submit' value='send email to client and saghar')
        // button(type='submit' form='vetForm' onclick=sendEmail())


    script.
      main()

      function main() {
        getAndShowDetails()
        // listen for button mouse clicks
        listenOut('yesBtn', true)
        listenOut('noBtn', false)
      }


      function getDetails() {
        // populate and return details array with url query string parameters
        const details = []
        const urlParams = new URLSearchParams(window.location.search)
        for (let p of urlParams) {
          details[p[0]] = p[1]   // key = value
        }
        return details
      }


      function getAndShowDetails() {
        // iterate over details and show on screen
        const doc = document
        const details = getDetails()
        const detailsDiv = doc.getElementById('detailsDiv')
        for (let d in details) {
          if (d != 'mapRef') {
            let paraNode = doc.createElement('P')
            let textNode = doc.createTextNode(d + ': ' + details[d])
            paraNode.appendChild(textNode)
            detailsDiv.appendChild(paraNode)
          }
        }
      }


      function listenOut(btn, good) {
        // add eventlistener to button
        document.getElementById(btn)
                .addEventListener('click', () => { vet(good) })
      }


      function vet(good) {
        // called by YES/NO buttons
        const doc = document
        doc.getElementById('email').style.visibility = 'visible'
        doc.getElementById('msgTxt').outerHTML = buildMessage(good)
      }


      function buildMessage(good) {
        // build up message that gets sent to punter
        const details = getDetails()
        let msg = "<div id='msgTxt'>"
                + '<p>Hi ' + details['name']
                + ', this is Saghar from ayurvedicyogamassage.org.uk.</p>'
                + '<p>I am ' + (good ? 'pleased ' : 'sorry ')
                + 'to inform you that you have ' + (good ? '' : 'not ')
                + 'been accepted onto the ayurvedic yoga massage intensive training course at '
                + details['place'] + ' on ' + details['date'] + '</p><p>'
                + (good ? 'Please press the button below for further details. Thank you.'
                        : 'The reason why I am uncomfortable with training you is ') + '</p>'
                + (good ? makePay4Button(details) : '')
                + '<p>If you need to contact me, simply reply to this email '
                + 'or phone Saghar on 07974 470 610</p>'
                + '</div>'
        return msg
      }


      function makePay4Button(details) {
        const btnHtml = "<p align='center'>"
                      + "<a href='pay4training.html"
                      + "?name=" + details['name']
                      + "&place" + details['place']
                      + "&address" + details['address']
                      + "&mapRef" + details['mapRef']
                      + "&date=" + details['date']
                      + "'>"
                      + "<button>clicky</button>"
                      + "</a></p>"
        return btnHtml
      }


      function sendEmail(form) {
        // msg gets injected into hidden text field
        // then return true, so form gets posted to php emailer
        const doc = document
        const txtField = doc.getElementById('punterMsg')
        const msg =  doc.getElementById('msgTxt').outerHTML
        txtField.value = msg
        return true
      }
