doctype html
html
  head
    - const cssFile = '../css/main.min.css'
    include ../includes/head.pug

  body
    #false_container
      .left50
        #detailsDiv
          h1 Intensive Massage Workshop Application
        #vet
          button#yesBtn YEP - we want
          span &emsp;
          button#noBtn NO thank you
      #email.hidden.right50
        form(method='post' action='./../php/mailVetForm.php' id='vetForm')
          p.
            Saghar, please add a little personal message underneath the text below.
            For example, if you've rejected them, tell them why.
          p Then press the 'send email...' button'
          textarea#vetBox(name='vetbox' rows=20 cols=40)
          input(type='submit' value='send email to client and saghar' name='submit')


    script.
      main()

      function main() {
        const details = getDetails()
        showDetails(details)
        // now just listen for button mouse clicks
        listenOut('yesBtn', true)
        listenOut('noBtn', false)
      }

      function getDetails() {
        const urlParams = new URLSearchParams(window.location.search)
        const details = []
        for (let p of urlParams) {
          details[p[0]] = p[1]   // key = value
        }
        return details
      }

      function showDetails(details) {
        // iterate over details and show on screen
        const doc = document
        const detailsDiv = doc.getElementById('detailsDiv')
        for (let d in details) {
          if (d != 'mapRef') {
            let paraNode = doc.createElement('P')
            let textNode = doc.createTextNode(d + ': ' + details[d])
            paraNode.appendChild(textNode)
            detailsDiv.appendChild(paraNode)
          }
        }
      }

      function listenOut(btn, good) {
        document.getElementById(btn).addEventListener('click',
          () => { vet(good) }
        )
      }

      function vet(good) {
        const doc = document
        doc.getElementById('email').style.visibility = 'visible'
        doc.getElementById('vetBox').innerHTML = buildMessage(good)
      }

      function buildMessage(good) {
        const details = getDetails()
        let msg = 'Hi ' + details['name'] + ', this is Saghar from ayurvedicyogamassage.org.uk. I am ' + (good ? 'pleased ' : 'sorry ') + 'to inform you that you have ' + (good ? '' : 'not ')
        msg += 'been accepted onto the ayurvedic yoga massage intensive training course at ' + details['place'] + ' on ' + details['date'] + '.\n\n'
        msg += (good ? 'Please press the button below for further course details and payment methods. Thank you.\n\n' : 'The reason why I am uncomfortable with training you is ')

        // button needs to be link to pay4.html with name, place, address, mapRef, date
        if (good) {
          msg += makePay4Button(details)
          msg += '\n\n'
        }

        msg += 'If you need to contact me, you can simply reply to this email, or phone Saghar on 07974 470 610 \n\n'
        return msg
      }

      function makePay4Button(details) {
        var btnHtml = "<a href='pay4training.html"
                    + "?name=" + details['name']
                    + "'><button>clicky</button></a>"
        return btnHtml
      }

