h3(class='d_active accordion_heading' rel='welcome') Welcome

div(id='welcome' class='tab_content')
  
  include tenhabits.pug


  h2 What is Ayurvedic Yoga Massage?
  div(class='left')
    p.
      Ayurvedic Yoga Massage has its origins in India and is an ancient healing system
      that uses an effective combination of powerful deep tissue massage with coordinated
      breath work and yoga stretches.
    p.
      The Ayurvedic system stimulates, opens and balances the flow of energy throughout
      the body, assisting in our own natural tendency towards self-healing.

    p.
      Benefits include:
    ul
      li stress relief
      li elimination of toxins
      li stimulation of blood circulation
      li.
        muscular/skeletal realignment leading to improved posture, digestion,
        and increased flexibility

  div(class='right')
      img(src='images/gall/gal2_th.jpg')

  div(class='testimonial')
      blockquote.
          A massage with Saghar is a very special experience. She has an extraordinary
          talent for 'reading' the body and what it needs, and her massage is truly healing
          on both a physical and a psychological level.
      div
      p Sarah

      // TODO move
      a(href='https://www.facebook.com/saghar.amozgar')
          img(src='images/facebook_logo.png' height=29 width=50 align=right)

