h3(class="accordion_heading" rel="gallery") Gallery
div(id="gallery" class="tab_content")
  h2 Ayurvedic Yoga Massage Gallery
  div(id='gallery')

    div(class='topRow')
      a(href='images/gall/gal1.jpg')
        img(src='images/gall/gal1_th.jpg')
      a(href='images/gall/gal2.jpg')
        img(src='images/gall/gal2_th.jpg')
      a(href='images/gall/gal3.jpg')
        img(src='images/gall/gal3_th.jpg')
      a(href='images/gall/gal4.jpg')
        img(src='images/gall/gal4_th.jpg')

    div(class="middleRow")
      a(href='images/gall/gal6.jpg')
        img(src='images/gall/gal6_th.jpg')
      a(href='images/gall/gal7.jpg')
        img(src='images/gall/gal7_th.jpg')
      a(href='images/gall/gal8.jpg')
        img(src='images/gall/gal8_th.jpg')

    div(class="bottomRow")
      a(href='images/gall/gal9.jpg')
        img(src='images/gall/gal9_th.jpg')
      a(href='images/gall/gal10.jpg')
        img(src='images/gall/gal10_th.jpg')
      a(href='images/gall/gal11.jpg')
        img(src='images/gall/gal11_th.jpg')

