mixin workshop(info)
  header
    img(src='./../../images/header.jpg')
    h1 Ayurvedic Yoga Massage

  #apply_navbar
    a(href='./../../index.html') back to main site

  #info
    h2 Ayurvedic Yoga Massage Workshop
    h4= info.address
    h4= info.date
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.8342564783893!2d-3.5261599999999653!3d50.723014000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da43db07c12b7%3A0x7cc3e5bad826796d!2sLotus+Loft!5e0!3m2!1sen!2suk!4v1422712288800' frameborder='0' class='map')
    p &pound;30 for individuals, &pound;50 for a couple (any partner or friend)
    p.
      &pound;10 non-refundable deposit for client cancellation<br>
      Full refund for instructor cancellation

