doctype html
html
  head
    meta(charset='utf-8')
    title Ayurvedic Yoga Massage in Devon
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='description', content='Ayurvedic Yoga Massage and Workshops in Devon')

    link(rel='stylesheet', href='css/main.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lustria|Source+Sans+Pro')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

  // favicon? TODO


  body
    #container
      header
        img(src='images/header.jpg')
        h1 Ayurvedic Yoga Massage

      #tab-container
        #navbar
          ul.tabs
            li.tab.active(rel='welcome') Welcome
            li.tab(rel='treatments') Treatments
            li.tab(rel='training') Training
            li.tab(rel='yoga') Yoga Classes
            li.tab(rel='gallery') Gallery
            li.tab(rel='about') About Me
            li.tab(rel='contact') Contact

        #content
          include includes/welcome.pug
          include includes/treatments.pug
          include includes/training.pug
          include includes/yoga.pug
          include includes/gallery.pug
          include includes/about.pug
          include includes/contact.pug

      script(src='code/tabs.js')

