doctype html
html
  head
    meta(charset='utf-8')
    title Ayurvedic Yoga Massage in Devon
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='description', content='Ayurvedic Yoga Massage and Workshops in Devon')

    link(rel='stylesheet', href='css/main.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lustria|Source+Sans+Pro')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

  // favicon? TODO


  body
    div(id='container')

      header
        img(src='images/header.jpg')
        h1 Ayurvedic Yoga Massage

      div(id='tab-container')
        div(id='navbar')
          ul(class='tabs')
            li(class='tab active' rel='welcome') Welcome
            li(class='tab' rel='treatments') Treatments
            li(class='tab' rel='training') Training
            li(class='tab' rel='yoga') Yoga Classes
            li(class='tab' rel='gallery') Gallery
            li(class='tab' rel='about') About Me
            li(class='tab' rel='contact') Contact

        div(id='content' style='float: clear;')
          include pages/welcome.pug
          include pages/treatments.pug
          include pages/training.pug
          include pages/yoga.pug
          include pages/gallery.pug
          include pages/about.pug
          include pages/contact.pug

      // end container
      script(src='code/tabs.js')


