doctype html
html
  head
    meta(charset='utf-8')
    title Apply Lotus Loft Workshop
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='description', content='Ayurvedic Yoga Massage and Workshops in Devon')

    link(rel='stylesheet', href='css/main.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lustria|Source+Sans+Pro')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='code/jquery.validate.js')

  body
    #container
      header
        img(src='images/header.jpg')
        h1 Ayurvedic Yoga Massage

      #apply_navbar
        p.
          a(href=index.html') back to main site

      #info
        h2 Ayurvedic Yoga Massage Workshop
        h4 Saturday 3rd August 2019 10am - 1pm
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.8342564783893!2d-3.5261599999999653!3d50.723014000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da43db07c12b7%3A0x7cc3e5bad826796d!2sLotus+Loft!5e0!3m2!1sen!2suk!4v1422712288800' frameborder='0' class='map')
        h4 Lotus Loft Yoga StudioCentre, 25 Southernhay East, Exeter
        p &pound;30 for individuals, &pound;50 for a couple (any partner or friend)
        p.
          &pound;10 non-refundable deposit for client cancellation<br>
          Full refund for instructor cancellation

      .form_wrapper
        form#wksh.wkshp_form(name='wksh' method='post' action='code/generalForm.php')
          p.
            To book and pay for a place on this workshop, please fill out the following form, and I'll get back to you as soon as I can.
          fieldset
            p Your details
            div
              input#name(type='text' name='name' placeholder='Your name' autocomplete='off' tabindex=1 class='txtinput' required)
            div
              input#tel(type='tel' name='tel' placeholder='Your phone number' autocomplete='off' tabindex=1 class='txtinput' required)
            div
              input#email(type='email' name='email' placeholder='Your email address' autocomplete='off' tabindex=1 class='txtinput' required)
            div
              select(name='tickets' form='wksh')
                option(value='deposit') Deposit: &nbsp;&pound;10
                option(value='single_full') Single ticket: &nbsp;&pound;30
                option value='single_remainder') Remaining balance: &nbsp;&pound;20
                option value='couple_full') Double ticket: &nbsp;&pound;50
                option value='couple_remainder') Remaining balance: &nbsp;&pound;40
            div
              input(type='hidden' name='subject' value='Lotus Loft workshop 8 December')
              input(type='submit' value='Continue to PayPal' name='button')

      script(src='code/validate.js')

