doctype
  html
    head
      title transferring...
      link(rel='stylesheet' type='text/css' href='../css/main.min.css')
      meta(name='viewport' content='width=device-width, user-scalable=no')
    body
      #container
        header
          img(src='../images/header.jpg')
          h1 Ayurvedic Yoga Massage
        .transfer
          h2 Please wait...
          img(src='../images/loading.gif' alt='loading animation')
          h2 ...transferring to secure PayPal server


        p.
          <?php
          // $EmailTo = 'saghar@ayurvedicyogamassage.org.uk';
          $EmailTo = 'mickey.megabyte@gmail.com';

          $Tel = Trim(stripslashes($_POST['tel']));
          $Name = Trim(stripslashes($_POST['name']));
          $Email = Trim(stripslashes($_POST['email']));
          $Tickets = Trim(stripslashes($_POST['tickets']));
          $Subject = Trim(stripslashes($_POST['subject']));

          // validation
          $validationOK=true;
          if (!$validationOK) {
            print "<meta http-equiv='refresh' content='0;URL=../error.html'>";
            // print "<meta http-equiv=\"refresh\" content=\"0;URL=../error.html\">";
            exit;
          }

          // prepare email body text
          $Body = '';
          $Body .= 'Name: ';
          $Body .= $Name;
          $Body .= "\n\n";
          $Body .= 'Phone: ';
          $Body .= $Tel;
          $Body .= "\n\n";
          $Body .= 'Email: ';
          $Body .= $Email;
          $Body .= "\n\n";
          $Body .= 'Workshop: ';
          $Body .= $Subject;
          $Body .= "\n\n";
          $Body .= 'Tickets: ';
          $Body .= $Tickets;
          $Body .= "\n";

          // send email
          $success = mail($EmailTo, $Subject, $Body, "From: <$Email>");


          // angelo's bit
          $blah = "<meta http-equiv='refresh' content='0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id='";

          if ($success) {
            switch ($subject) {

              case 'Lotus Loft workshop 3rd August':
                switch ($tickets) {
                  case "single_full":
                    print $blah . '3SF2SCKDLUR3A8' . '>;
                    // print "<meta http-equiv='refresh' content='0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=mswq5yzvjkhh8'>";
                    // print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=mswq5yzvjkhh8\">";
                    break;
                  case "single_remainder":
                    print $blah . 'Y6VZXBZ8XQAV8' . '>;
                    // print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=mbc3t3kwwnq62\">";
                    break;
                  case "couple_full":
                    print $blah . 'BFGZFUY2M447Y' . '>;
                    // print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=84mpj28nr94mq\">";
                    break;
                  case "couple_remainder":
                    print $blah . 'R9QL2XH4E5F5G' . '>;
                    // print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=urqpa36mjdc4j\">";
                    break;
                  case "deposit":
                    print $blah . 'QA9L8PWDRLWPW' . '>;
                    // print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=fhtxbltjjda6g\">";
                    break;


                }
                break;
                case "lotus loft workshop 8 december":
                  switch ($tickets) {
                    case "single_full":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3sf2sckdlur3a\">";
                      break;
                    case "single_remainder":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=y6vzxbz8xqav8\">";
                      break;
                    case "deposit":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=qa9l8pwdrlwpw\">";
                      break;
                    case "couple_remainder":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=r9ql2xh4e5f5g\">";
                      break;
                    case "couple_full":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=bfgzfuy2m447y\">";
                      break;
                }
                break;
                case "forge workshop 12 march":
                  switch ($tickets) {
                    case "single_full":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3lv262bg5tg5l\">";
                      break;
                    case "single_remainder":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=39mtj9ecctzlq\">";
                      break;
                    case "deposit":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=acce6k37dyupj\">";
                      break;
                    case "couple_remainder":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2lty5j63ahtvc\">";
                      break;
                    case "couple_full":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2e8ewf9s66hxl\">";
                      break;
                }
                break;
                case "forge workshop 7 may":
                  switch ($tickets) {
                    case "single_full":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=b94fykkbkt3qn\">";
                      break;
                    case "single_remainder":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=gpqrlm9v2s3rs\">";
                      break;
                    case "deposit":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=nfxunxzvlc3qq\">";
                      break;
                    case "couple_remainder":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7wg3pa3es4un6\">";
                      break;
                    case "couple_full":
                      print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ftdnacr9a4fnq\">";
                      break;
                }
                break;
              case "lotus loft workshop 28 may":
                switch ($tickets) {
                  case "single_full":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=z8sy8x87u3fm4\">";
                    break;
                  case "single_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=guf2qnn643xuc\">";
                    break;
                  case "couple_full":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=upws7g7g469k6\">";
                    break;
                  case "couple_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=j7bj3bqkjngfc\">";
                    break;
                  case "deposit":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=upkcc56z5rltq\">";
                    break;
                }
                break;
              case "lotus loft workshop 23 july":
                switch ($tickets) {
                  case "single_full":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6xajzpsmxyawq\">";
                    break;
                  case "single_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ztmk8c2f6466l\">";
                    break;
                  case "couple_full":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9dk8ka3x93bye\">";
                    break;
                  case "couple_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=t54ps3vv7xvhg\">";
                    break;
                  case "deposit":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7jlu7tub94wfs\">";
                    break;
                }
                break;
              case "neal's yard workshop 4 june":
                switch ($tickets) {
                  case "single_full":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=b79hzggw4kgz6\">";
                    break;
                  case "single_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=nabf66thmjh5q\">";
                    break;
                  case "couple_full":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=wlrnfl7f85qsy\">";
                    break;
                  case "couple_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=m5j3vdd7uqune\">";
                    break;
                  case "deposit":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=x6ucnb5dyvldj\">";
                    break;
                }
                break;
              case "intensive training - natural health centre 23-26 june":
                switch ($tickets) {
                  case "deposit":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=w4caj3ug4hmq4\">";
                    break;
                  case "single":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=b2jf5urjqtfrj\">";
                    break;
                  case "single_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ptj58kcwfaleu\">";
                    break;
                }
                break;
              case "exeter natural health centre workshop 8 august":
                switch ($tickets) {
                  case "single":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6lm3qtqnu4aen\">";
                    break;
                  case "single_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=62qshjs6nj9qs\">";
                    break;
                  case "couple":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7nzhdxk4j2x2c\">";
                    break;
                  case "couple_remainder":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=xzkj4pqjggjva\">";
                    break;
                  case "deposit":
                    print "<meta http-equiv=\"refresh\" content=\"0;url=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3cxyz6l9b5xte\">";
                    break;
                }
                break;
            }
          } else {
            print "<meta http-equiv=\"refresh\" content=\"0;url=../paypal-error.html\">";
          }

          ?>

